.wrapper {
  min-width: 310px;
  background: linear-gradient(to right, #6a1b2a, #c51a4a);
  color: white;
  padding: 20px;
  border-radius: 16px;
  margin: 20px 5%;
  
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.infoAndStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.locationIcon {
  width: 12px;
  margin-right: 5px;
}

.idIcon {
  height: 15px;
  margin-right: 5px;
}

.modeIcon {
  width: 16px;
  margin-right: 5px;
}

.questionmarkIcon
{
  width: 16px;
  margin-left: 5px;
}

.gpsIcon {
  width: 16px;
  margin-right: 5px;
}

.stationIcon {
  width: 22px;
  margin-right: 5px;
}

.modeTesting {
  background: #c49a00;
}

.modeDeployed {
  background: #7bb661;
}

.modeMaintenance  {
  background: #b04a4a;
}

.modeWrapper {
  width: fit-content;
  padding: 3px 7px;
  margin: 0 0 10px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.locationWrapper {
  background: #c51a4a;
  width: fit-content;
  padding: 3px 7px;
  margin: 0 0 10px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.statusOnline {
  background-color: #7bb661;
  color: white;
  width: fit-content;
  padding: 3px 7px;
  margin: 0 0 10px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.statusOffline {
  background-color: #b04a4a;
  color: white;
  width: fit-content;
  padding: 3px 7px;
  margin: 0 0 10px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.stationWrapper {
  color: white;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2px;
}

.stationType {
  color: #db6f87;
  font-size: 20px;
}

.seismoPlotWrapper {
  background-color: rgba(135, 135, 135, 0.2);
  background: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%; 
  padding-top: 20px;
  padding-bottom: 10px;
  overflow: hidden;
}

@media (max-width: 660px) {
  .infoAndStatus {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 465px) {
  .stationType {
    font-size: 14px;
  }
}

.bufferControls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.bufferButton {
  background: rgba(135, 135, 135, 0.2);
  color: #eee;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background 0.2s, transform 0.1s;
}

.bufferButton:hover {
  background: rgba(135, 135, 135, 0.4);
}

.bufferButton.active {
  background: rgba(135, 135, 135, 0.6); 
}

.tooltipWrapper {
  position: relative;
  display: flex; 
  align-items: center;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  white-space: normal; 
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 4px;

  position: absolute;
  bottom: 125%; 
  left: 50%;
  transform: translateX(-50%);

  transition: opacity 0.3s;
  z-index: 1;
  text-align: left;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltipWrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltipItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
  font-size: 11px;
  font-weight: 200;
  white-space: nowrap;
}


@media (max-width: 465px) {
  .tooltipItem {
    font-size: 10px;
  }
}

.tooltipItem:last-child {
  margin-bottom: 0;
}

.tooltipBadge {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.inlineLabel {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.title {
  font-weight: 600;
  font-size: 22px;
}
