.wrapper {
  min-width: 310px;
  background: linear-gradient(to right, #6a1b2a, #c51a4a);
  color: white;
  padding: 20px;
  border-radius: 16px;
  margin: 20px 5%;
  
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.infoAndStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(135, 135, 135, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  width: fit-content;
  border-radius: 16px;
  gap: 10px;
  padding: 5px 10px;
}

.row {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.locationIcon {
  width: 12px;
  margin-right: 5px;
}

.idIcon {
  height: 15px;
  margin-right: 5px;
}

.settingsIcon {
  width: 16px;
  margin-right: 5px;
}

.modeTesting {
  background: #c49a00;
}

.modeDeployed {
  background: #7bb661;
}

.modeRetired {
  background: #b04a4a;
}

.modeWrapper {
  width: fit-content;
  padding: 3px 7px;
  margin: 0 0 10px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.locationWrapper {
  background: #c51a4a;
  width: fit-content;
  padding: 3px 7px;
  margin: 0 0 10px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.stationWrapper {
  color: white;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2px;
}

.stationType {
  color: #db6f87;
  font-size: 20px;
}

.statusIcons {
  height: 30px;
  padding: 5px;
}

.seismoPlotWrapper {
  background-color: rgba(135, 135, 135, 0.2);
  background: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%; 
  padding-top: 20px;
  padding-bottom: 10px;
}

@media (max-width: 660px) {
  .infoAndStatus {
    flex-direction: column;
    align-items: flex-start;
  }

  .statusWrapper {
    margin-top: 20px;
    box-sizing: border-box;
  }
}

@media (max-width: 465px) {
  .stationType {
    font-size: 14px;
  }
}
